<header class="main-header">
  <a href="{{ url_for('AdminView:dashboard') }}" class="logo">
    <span class="logo-mini"><b>P</b>X</span>
    <span class="logo-lg"><b>Phenex</span>
  </a>
  {% include "navigation.html" %}
</header>
