{% extends "base.html" %}

{% block base_content %}
<div class="row justify-content-center">
  <div class="col-md-4 col-md-offset-4 center_vertical">
    <div class="box box-info">
      <div class="box-header with-border text-center">
        <h3 class="box-title">LOGIN</h3>
      </div>
      <form class="form-horizontal" action="{{ url_for(view + ':authenticate') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-3">Alias</label>
            <div class="col-sm-12">
              <input type="text" name="alias" class="form-control" placeholder="Alias" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Password</label>
            <div class="col-sm-12">
              <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-info pull-right">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock base_content %}
