{% extends "page.html" %}

{% block content %}

<div class="row">

  {% if metadata.address.home %}
  <div class="col-md-4">
    <div class="box box-warning">
      <div class="box-header with-border text-center">
        <h3 class="box-title">Address Home</h3>
        <div class="pull-right" title="Delete">
          <form action="{{ url_for(view + ':delete', id=id) }}" method="POST">
            {{ form_address_delete.id() }}
            {{ form_address_delete.method() }}
            {{ form_address_delete.type(value='home') }}
            {{ form_address_delete.metadata() }}
            {{ form_address_delete.csrf_token }}
            <button type="submit" class="fa fa-trash btn btn-danger"></button>
          </form>
        </div>
      </div>
      <form class="form-horizontal" action="{{ url_for(view + ':edit', id=id) }}" method="POST">
        <div class="box-body">
          {{ form_address_home.id() }}
          {{ form_address_home.type(value='home') }}
          {{ form_address_home.metadata() }}
          {{ form_address_home.csrf_token }}
          <div class="form-group {{ 'has-error' if form_address_home.errors['street'] else '' }}">
            <label class="col-sm-3 control-label">Street</label>
            <div class="col-sm-7">
              {{ form_address_home.street(class="form-control", placeholder="street")}}
              {% if form_address_home.errors['street'] %}
                {% for error in form_address_home.errors['street'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_home.errors['zipcode'] else '' }}">
            <label class="col-sm-3 control-label">Zipcode</label>
            <div class="col-sm-7">
              {{ form_address_home.zipcode(class="form-control", placeholder="zipcode")}}
              {% if form_address_home.errors['zipcode'] %}
                {% for error in form_address_home.errors['zipcode'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_home.errors['city'] else '' }}">
            <label class="col-sm-3 control-label">City</label>
            <div class="col-sm-7">
              {{ form_address_home.city(class="form-control", placeholder="city")}}
              {% if form_address_home.errors['city'] %}
                {% for error in form_address_home.errors['city'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_home.errors['country'] else '' }}">
            <label class="col-sm-3 control-label">Country</label>
            <div class="col-sm-7">
              {{ form_address_home.country(class="form-control", placeholder="country")}}
              {% if form_address_home.errors['country'] %}
                {% for error in form_address_home.errors['country'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}

  {% if metadata.address.work %}
  <div class="col-md-4">
    <div class="box box-warning">
      <div class="box-header with-border text-center">
        <h3 class="box-title">Address Work</h3>
        <div class="pull-right" title="Delete">
          <form action="{{ url_for(view + ':delete', id=id) }}" method="POST">
            {{ form_address_delete.id() }}
            {{ form_address_delete.method() }}
            {{ form_address_delete.type(value='work') }}
            {{ form_address_delete.metadata() }}
            {{ form_address_delete.csrf_token }}
            <button type="submit" class="fa fa-trash btn btn-danger"></button>
          </form>
        </div>
      </div>
      <form class="form-horizontal" action="{{ url_for(view + ':edit', id=id) }}" method="POST">
        <div class="box-body">
          {{ form_address_work.id() }}
          {{ form_address_work.type(value='work') }}
          {{ form_address_work.metadata() }}
          {{ form_address_work.csrf_token() }}
          <div class="form-group {{ 'has-error' if form_address_work.errors['street'] else '' }}">
            <label class="col-sm-3 control-label">Street</label>
            <div class="col-sm-7">
              {{ form_address_work.street(class="form-control", placeholder="street")}}
              {% if form_address_work.errors['street'] %}
                {% for error in form_address_work.errors['street'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_work.errors['zipcode'] else '' }}">
            <label class="col-sm-3 control-label">Zipcode</label>
            <div class="col-sm-7">
              {{ form_address_work.zipcode(class="form-control", placeholder="zipcode")}}
              {% if form_address_work.errors['zipcode'] %}
                {% for error in form_address_work.errors['zipcode'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_work.errors['city'] else '' }}">
            <label class="col-sm-3 control-label">City</label>
            <div class="col-sm-7">
              {{ form_address_work.city(class="form-control", placeholder="city")}}
              {% if form_address_work.errors['city'] %}
                {% for error in form_address_work.errors['city'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_work.errors['country'] else '' }}">
            <label class="col-sm-3 control-label">Country</label>
            <div class="col-sm-7">
              {{ form_address_work.country(class="form-control", placeholder="country")}}
              {% if form_address_work.errors['country'] %}
                {% for error in form_address_work.errors['country'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}

  {% if metadata.address.other %}
  <div class="col-md-4">
    <div class="box box-warning">
      <div class="box-header with-border text-center">
        <h3 class="box-title">Address Other</h3>
        <div class="pull-right" title="Delete">
          <form action="{{ url_for(view + ':delete', id=id) }}" method="POST">
            {{ form_address_delete.id() }}
            {{ form_address_delete.method() }}
            {{ form_address_delete.type(value='other') }}
            {{ form_address_delete.metadata() }}
            {{ form_address_delete.csrf_token }}
            <button type="submit" class="fa fa-trash btn btn-danger"></button>
          </form>
        </div>
      </div>
      <form class="form-horizontal" action="{{ url_for(view + ':edit', id=id) }}" method="POST">
        <div class="box-body">
          {{ form_address_other.id() }}
          {{ form_address_other.type(value='other') }}
          {{ form_address_other.metadata() }}
          {{ form_address_other.csrf_token() }}
          <div class="form-group {{ 'has-error' if form_address_other.errors['street'] else '' }}">
            <label class="col-sm-3 control-label">Street</label>
            <div class="col-sm-7">
              {{ form_address_other.street(class="form-control", placeholder="street")}}
              {% if form_address_other.errors['street'] %}
                {% for error in form_address_other.errors['street'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_other.errors['zipcode'] else '' }}">
            <label class="col-sm-3 control-label">Zipcode</label>
            <div class="col-sm-7">
              {{ form_address_other.zipcode(class="form-control", placeholder="zipcode")}}
              {% if form_address_other.errors['zipcode'] %}
                {% for error in form_address_other.errors['zipcode'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_other.errors['city'] else '' }}">
            <label class="col-sm-3 control-label">City</label>
            <div class="col-sm-7">
              {{ form_address_other.city(class="form-control", placeholder="city")}}
              {% if form_address_other.errors['city'] %}
                {% for error in form_address_other.errors['city'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form_address_other.errors['country'] else '' }}">
            <label class="col-sm-3 control-label">Country</label>
            <div class="col-sm-7">
              {{ form_address_other.country(class="form-control", placeholder="country")}}
              {% if form_address_other.errors['country'] %}
                {% for error in form_address_other.errors['country'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}

</div>


{% endblock content %}
