<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1> Hi {{ username }}</h1>
  <p>
    You receive this email because you forgot your previous password.
    Please <b><a href="{{ login_url }}">login</a></b> with your new password and change it
    immediately after login.
  </p>
  <h3>New Password: {{ password }}</h3>
</body>

</html>
