<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1> Hi {{ username }}</h1>
  <p>
    You receive this email because you are trying to register to our webshop.
    Please click <b><a href="{{ verification_url }}">activation link</a></b> and provide verification code.
  </p>
  <h3>Verification Code: {{ verification_code }}</h3>
</body>

</html>
