{% extends "page.html" %}

{% block content %}

<div class="row">
  <div class="box box-info col-md-4">
    <div class="box-header with-border text-center">
      <a href="{{ url_for('BackendUserView:index') }}"><i class="fa fa-arrow-left"></i></a>
      <h3 class="box-title">{{ title }}</h3>
    </div>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for key in item %}
          {% if key not in item.blacklisted_fields %}
          <tr>
            <td><b>{{ key }}</b></td>
            {% if is_datetime(item[key]) %}
              <td>{{ item[key] | format_date }}</td>
            {% else %}
              <td>{{ item[key] }}</td>
            {% endif %}
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
