{% extends "page.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <div class="box box-warning">
      <div class="box-header with-border text-center">
        <a href="{{ url_for('BackendUserView:index') }}"><i class="fa fa-arrow-left"></i></a>
        <h3 class="box-title">Edit {{ title }}</h3>
      </div>
      <form class="form-horizontal" action="{{ url_for(view + ':edit', id=item.id) }}" method="POST">
        <div class="box-body">
          {{ form.id }}
          {{ form.csrf_token }}
          <div class="form-group {{ 'has-error' if form.errors['username'] else '' }}">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-7">
              {{ form.username(class="form-control", placeholder="username")}}
              {% if form.errors['username'] %}
                {% for error in form.errors['username'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group {{ 'has-error' if form.errors['email'] else '' }}">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              {{ form.email(class="form-control", placeholder="email")}}
              {% if form.errors['email'] %}
                {% for error in form.errors['email'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Verified</label>
            <div class="col-sm-7">
              {{ form.verified(checked=item.verified) }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Access Level</label>
            <div class="col-sm-7">
              {{ form.access_level(type="number", min=0, max=10) }}
              {% if form.errors['access_level'] %}
                {% for error in form.errors['access_level'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Login Failed Count</label>
            <div class="col-sm-7">
              {{ form.login_failed_count(type="number", min=0, max=3) }}
              {% if form.errors['login_failed_count'] %}
                {% for error in form.errors['login_failed_count'] %}
                  <span class="help-block"> {{ error }}</span>
                {% endfor %}
              {% endif  %}
            </div>
          </div>
          {% if form.data['login_ban_expires_at'] %}
            <div class="form-group">
              <label class="col-sm-3 control-label">Login Ban Expires At</label>
              <div class="col-sm-7">
                {{ form.login_ban_expires_at() }}
                {% if form.errors['login_ban_expires_at'] %}
                  {% for error in form.errors['login_ban_expires_at'] %}
                    <span class="help-block"> {{ error }}</span>
                  {% endfor %}
                {% endif  %}
              </div>
            </div>
          {% endif  %}
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-info">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
