<!DOCTYPE html>
<html>

<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Phenex</title>

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="/admin/static/css/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/admin-lte@2.4.15/dist/css/AdminLTE.min.css">
  <link type="text/css" rel="stylesheet" href="/admin/static/css/styles.min.css">

  <!-- FONTS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>

<body class="hold-transition sidebar-mini">

  {% include "flash.html" %}

  {% block base_content %}
    <!-- Base Content -->
  {% endblock %}

  <!-- JS -->
  <script type="text/javascript" src="/admin/static/js/vendors.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/admin-lte@2.4.15/dist/js/adminlte.min.js"></script>
  <script type="text/javascript" src="/admin/static/js/app.min.js"></script>

</body>

</html>
