{% extends "base.html" %}

{% block base_content %}
  <div class="wrapper">
    {% include "header.html" %}
    {% include "sidebar.html" %}
    <div class="content-wrapper">
      <section class="content container-fluid">
        {% block content %}{% endblock %}
      </section>
    </div>
    {% include 'footer.html' %}
  </div>
{% endblock base_content %}
